**/__pycache__
src/__pycache__/extremecorrection.cpython-312.pyc
/Data/
Data/Precipitation_NZ/ds_hist_andrea.nc
Data/Precipitation_NZ/ds_sims_5000years_andrea.nc
Data/DatosHs_SS/LWT_ss_sim.nc
Data/DatosHs_SS/FWT_Hs_sim.nc
src/__pycache__/
Figures/
OldFigures/
OptimalThresholdSelection/__pycache__/optimal_threshold_studentized.cpython-312.pyc
OptimalThresholdSelection/__pycache__/threshold_peak_extraction.cpython-312.pyc
PaperMonteCarloStructuralSafety/
Paper/
oldsrc/
Papers_Respuesta/